{%- from 'tag.banner.njk' import banner -%}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="/styles/style.css"/>
  </head>
  {% set size = '64' %}
  <body>
  	<header id="bannerContainer">
	</header>
	<main>
		{{ content | safe }}
	</main>
  </body>
  <script>
	
  	const header = document.getElementById('bannerContainer')
	let bannerAddIcons = (sw, me, target) => {
		const numberOfIcons = sw / {{size}} - me 
		for (let i = 0; i < numberOfIcons; i++) {
			header.insertAdjacentHTML('beforeend', ` {{ banner (width='64', height='30') }} `)
		}
	}

	let screenWidth = window.screen.width 
	bannerAddIcons(screenWidth, 4, header)

	let update = () => {
		console.log("resize!")

		let screenWidth = window.screen.width
		while(header.firstChild) {
			header.removeChild(header.firstChild)
		}
		if (screenWidth < 950) {
			bannerAddIcons(screenWidth, 2)
		}
		if (screenWidth > 950) {
			bannerAddIcons(screenWidth, 4)
		}
	}
	const triggerTimes = []

	let timeout = () => {
		if (Date.now() - triggerTimes.slice(-1) > 70) {
			update()
		}
		triggerTimes.push(Date.now())
		if (triggerTimes.length > 16) {
			triggerTimes.splice(triggerTimes.length - 15, 15)
		}

	}
	window.onresize = timeout;
  </script>

</html>

