{%- from 'tag.banner.njk' import banner -%}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="/styles/style.css"/>
  </head>
  {% set size = '64' %}
  <body>
  	<header id="bannerContainer">
	</header>
	<main>
		{{ content | safe }}
	</main>
  </body>
  <script>
	const screenWidth = window.screen.width
	const numberOfIcons = screenWidth / {{size}} - 4 
	const header = document.getElementById('bannerContainer')
	for (let i = 0; i < numberOfIcons; i++) {
		header.insertAdjacentHTML('beforeend', ` {{ banner (width='64', height='30') }} `)
}	
  </script>

</html>

