{%- from 'tag.banner.njk' import banner -%}
{%- from 'tag.bubble.njk' import bubble -%}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="/styles/style.css"/>
  </head>
  <body>
  	<header id="bannerContainer">
	</header>
	<main class="post">
		<article>
			<h1>{{ title }}</h1>
			<h3>{{ page.date.toUTCString().replace('GMT', 'UTC') }}</h3>
			{{ content | safe }}
			{% for tag in tags %}
				{{bubble (content=tag)}}	
			{% endfor %}
		</article>
	</main>
  </body>
	{% include "banner.html" %}
</html>

