---
layout: layout.njk
---
{%- from 'tag.card.njk' import card -%}
{%- from 'tag.star.njk' import star -%}

<h1>Welcome!</h1>
<div class="subscribe">
	<h2><a href="/subscribe/">Subscribe</a></h2>
	<div class="hex">
		{{star()}}
	</div>
</div>
<p>This is my blog to share my thoughts and stuff.</p>
<h2>Blog</h2>


<ul>
{%- for post in collections.blog -%}
	<li>{{card (url=post.url, title=post.data.title, description=post.templateContent)}}</li>
{%- endfor -%}
</ul>
<h2>Projects</h2>
<ul id="projects">
</ul>

<h3>Other places you can find me.</h3>
<ul>
	<li><a href="https://github.com/TensegrityBlockxels">Github</a></li>
</ul>
