---
layout: layout.njk
---
<h1>Subscribe</h1>
<h3>RSS</h3>
<ul>
	<li><a href="/feed.xml">Blog RSS</a></li>
	<li><a href="/projects.xml">Project RSS</a></li>
</ul>
<h3>JSON Feed</h3>
<ul>
	<li><a href="/feed.json">Blog JSON Feed</a></li>
	<li><a href="/projects.json">Project JSON Feed</a></li>
</ul>

